#!/bin/bash
#SBATCH -t 12:00:00    # walltime
#SBATCH -N {{job_params.nodes}} # number of cluster nodes
#SBATCH -n {{job_params.n_ranks}} # number of MPI ranks / slurm tasks
#SBATCH -o job-%j.out # pathname of stdout file
#SBATCH -e job-%j.err # pathname of stderr file, using job and first node values
#SBATCH -J {{job_params.sim_name}}
#SBATCH -A w25_maehem

###SBATCH -p gpu
###SBATCH --reservation=gpu
###SBATCH -A w25_maehem_g

##### These are shell commands
date

srun -n {{job_params.n_ranks}} ./{{job_params.deck_name}}.Linux >& outfile

date
echo 'Done'
